{% extends 'todolist/base.html' %}

{% block content %}

<div class="loginclose">
<h1 class="head">Login!</h1>
<div class ="body">
<form method = "POST" action="{% url 'login' %}">
    {% if error %}
    <h2 style="color:orange;">{{ error }}</h2>
    {% endif %}
    {% csrf_token %}
    username:
    <br/>
    <input type="text" name="username" placeholder="Enter Username" name="uname" required />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" placeholder="Enter Password" name="psw" required/>
    <br/>
    <br>
    <input class ="btn" type="submit" value= "Login" />
    <br/>
</form>
<a href="/todolist/signup/"><button class="btn">Sign up</button></a>
</div>
</div>


{% endblock %}