{% extends 'todolist/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<div class='close'>
    <div class="listhead">
    <h1 class="Title ">TASK LIST</h1> 
    <h3 class="greetings ">Hi {{request.user}},</h3> 
    <a href = "/todolist/new/"><button class="btnaddtask">Add Task</button></a>
    <div>
    {% for list in tasklist %}  
        {% if list.user  == request.user %}
        <div class="listbody">
            <h2 style="text-align:center;">{{ list.title }}</h2>
            <div class="row">    
                <div class="column">
                    {% if list.isdone == True %}
                    <p>status : <div style="color:lightgreen;">Completed</div></p>
                    {% elif list.isdone == False %}
                    <p>status : <div style="color:orange;">InComplete</div></p>
                    {% endif %}
                </div>
            </div>
            <div class ="buttons">
            <a href="/todolist/{{list.id}}/"><button class="btnsmall">View</button></a>
            <a href="/todolist/{{list.id}}/edit/"><button class="btnsmall">Edit</button></a>
            <a href="/todolist/{{list.id}}/delete/"><button class="btnsmall">Delete</button></a>
            </div>
        </div>
        <br>
        {% endif %}
    {% endfor %}
   
    <a href="logout/"><button class="Logout">Logout</button></a>
<div>
{% else %}
<div class="close">
    <a href="/todolist/login/"><button class="btn">Login</button></a>
    <a href="/todolist/signup/"><button class="btn">Sign up</button></a>
    </div>
{% endif %}

{% endblock %}