{% extends 'todolist/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<div class='close'>
    <div class="listhead">
    <h1 class="Title ">TASK LIST</h1> 
    <p class="greetings ">Logged in as {{request.user}}.</p> 
    <a href = "/todolist/new/"><button class="btnaddtask">Add Task</button></a>
    <div>
    {% for list in tasklist %}  
        {% if list.user  == request.user %}
        <div class="listbody">
            {% if list.isdone == True %}
            <h3 style="text-align:center;"><s>{{ list.title }}</s></h3>
            {% elif list.isdone == False %}
            <h3 style="text-align:center;">{{ list.title }}</h3>
            {% endif %}
            <div class ="buttons">
            <a href="/todolist/{{list.id}}/"><button class="btnsmall">View</button></a>
            <a href="/todolist/{{list.id}}/edit/"><button class="btnsmall">Edit</button></a>
            <a href="/todolist/{{list.id}}/delete/"><button class="btnsmall">Delete</button></a>
            </div>
        </div>
        <br>
        {% endif %}
    {% endfor %}
   
    <a href="logout/"><button class="Logout">Logout</button></a>
<div>
{% else %}
<div class="close">
    <a href="/todolist/login/"><button class="btn">Login</button></a>
    <a href="/todolist/signup/"><button class="btn">Sign up</button></a>
    </div>
{% endif %}

{% endblock %}