{% extends 'todolist/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
  {% if Task.user == request.user %}

  <div class="close">
    <div class="details">
      <p class="time">{{ Task.created_date }}</p>
      <br>
      <h1 style="text-align:center">{{ Task.title }}</h1>
      <br>
      <p style="text-align:center;"><strong>{{ Task.description | linebreaksbr}}</strong></p>
      <br>
      {% if Task.isdone == True %}
      <p style="text-align:left;">status : <div style="color:lightgreen;text-align:left;">Completed</div></p>
      {% elif Task.isdone == False %}
      <p style="text-align:left;">status : <div style="color:orange;text-align:left;">InComplete</div></p>
      {% endif %}
    </div>

      <a href="/todolist/"><button class="btnsmall">Back</button></a>
  <div>

  {% else %} 
  <div class="close">
  <p>This page doesnt exist<p>
  <a href="/todolist/"><button class="btnsmall">Back</button></a>
  <div>
  {% endif %}

{% else %}
<div class="close">
    <a href="/todolist/login/"><button class="btn">Login</button></a>
    <a href="/todolist/signup/"><button class="btn">Sign up</button></a>
    </div>
{% endif %}
{% endblock %}